body{background: url(General-Election-piece.webp);
background-repeat: no-repeat;
background-size: cover; margin: 0%;
padding: 0%;

box-sizing: border-box;
}
h1{font-size: 30px!important;
text-align: center; }
#addFriend{height: 40px;
width: 200px; font-size:15px ;}
#addNew{width: 80px; margin-top: 10px;
height: 40px; font-size: 12px; background-color: black; color: white;}
#new{-webkit-box-shadow: 10px 10px 5px 30px rgba(0,0,0,0.50);
-moz-box-shadow: 10px 10px 5px 30px rgba(0,0,0,0.50);
box-shadow: 10px 10px 5px 30px rgba(0,0,0,0.50); width:300px; height: 600px; margin-top: 50px; 
}
#output tr td{font-size: 40px; font-weight: bold; padding-left: 50px; text-transform: capitalize;}
@media (min-width:600px) {
    #new{margin-left: 400px; width: 500px;}
    h1{font-size: 70px!important;}
    #addFriend{width: 350px;font-size: 25px;}
    #addNew{font-size: 25px;width: 140px;}    
    
}